<div>
    <h2>Witam serdecznie</h2>
    <p>
        Autorem strony jestem ja (czyt. Jakub Maciejewski). Bardzo mi miło, że zawitałeś do widoku częściowego mojej strony. Pozdrawiam.
    </p>
    
</div>
